header(class="header is-hidden-mobile is-hidden-tablet-only")
    ul(class="icon-menu")
        li(class=home_active ? "active icon-box" : "icon-box")
            i(class="fas fa-home")
            a(href="/")
                h2 Home
        li(class=profile_active ? "active icon-box" : "icon-box")
            i(class="fas fa-user")
            a(href="/work")
                h2 Profile
        li(class=projects_active ? "active icon-box" : "icon-box")
            i(class="fas fa-rocket")
            a(href="/projects/overview")
                h2 Projects

div(id="navMobile" class="is-hidden-desktop is-hidden-widescreen is-hidden-fullhd")
    input(type="checkbox")
    span
    span
    span
    ul(class="list-unstyled" id="menu")
        li(class=home_active ? "active" : "")
            a(href="/")
                i(class="fas fa-home")
                span Home
        li(class=profile_active ? "active": "")
            a(href="/work")
                i(class="fas fa-user")
                span Profile
        li(class=projects_active ? "active": "")
            a(href="/projects/overview")
                i(class="fas fa-user")
                span Projects