div(class="navbar is-hidden-mobile is-hidden-tablet-only" data-augmented-ui="br-clip bl-clip border")
    div(class="navbar-start" data-augmented-ui-reset)
        div(class="navbar-item")
            a(class=home_active ? "active button" : "button" href="/" data-augmented-ui="tr-clip bl-clip")
                span(class="icon")
                    i(class="fas fa-home")
                span HOME
        div(class="navbar-item")
            a(class=profile_active ? "active button" : "button" href="/work" data-augmented-ui="tr-clip bl-clip")
                span(class="icon")
                    i(class="fas fa-user")
                span PROFILE
        div(class="navbar-item")
            a(class=projects_active ? "active button" : "button" href="/projects/overview" data-augmented-ui="tr-clip bl-clip")
                span(class="icon")
                    i(class="fas fa-rocket")
                span PROJECTS

div(id="navMobile" class="is-hidden-desktop is-hidden-widescreen is-hidden-fullhd")
    input(type="checkbox")
    span
    span
    span
    ul(class="list-unstyled" id="menu")
        li(class=home_active ? "active" : "")
            a(href="/" onclick="showloader()")
                i(class="fas fa-home")
                span Home
        li(class=profile_active ? "active": "")
            a(href="/work" onclick="showloader()")
                i(class="fas fa-user")
                span Profile
        li(class=projects_active ? "active": "")
            a(href="/projects/overview" onclick="showloader()")
                i(class="fas fa-rocket")
                span Projects